In [17]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline


data=pd.read_csv('intracity_fare_test.csv')
fd=pd.DataFrame(data=data)

In [18]:
fd

,ID,TIMESTAMP,STARTING_LATITUDE,STARTING_LONGITUDE,DESTINATION_LATITUDE,DESTINATION_LONGITUDE,VEHICLE_TYPE,TOTAL_LUGGAGE_WEIGHT,WAIT_TIME,TRAFFIC_STUCK_TIME,DISTANCE
0,1,2016-07-19 06:56:22,28.666631,77.092389,28.642983,77.048942,metro,NaN,NaN,10,17
1,2,2016-01-10 16:56:22,12.863124,77.465198,12.983202,77.495464,metro,NaN,NaN,28,27
2,3,2015-07-14 09:49:33,19.203644,72.861170,19.161556,72.839699,ac bus,NaN,NaN,34,45
3,4,2015-03-24 10:06:18,28.668365,77.030327,28.705053,77.080778,Metro,NaN,NaN,17,14
4,5,2016-04-05 23:03:14,13.050678,80.212654,13.118577,80.234702,Mini bus,NaN,NaN,9,10
5,6,2015-08-08 21:09:48,28.676089,77.073643,28.733554,77.059548,AUTO RICKSHAW,NaN,NaN,10,12
6,7,2015-11-24 10:29:19,13.006167,77.595210,12.933962,77.636775,taxi Non Ac,7.0,4.0,12,38
7,8,2016-06-08 06:13:25,13.069117,80.149942,13.099617,80.144358,mini Bus,NaN,NaN,10,47
8,9,2015-06-01 17:47:21,13.192150,80.143036,13.093686,80.184869,taxi ac,15.0,16.0,5,14
9,10,2016-09-28 22:33:01,13.082606,77.676166,12.903001,77.560116,Mini bus,NaN,NaN,5,28
10,11,2015-07-04 21:01:29,28.624145,77.018994,28.632944,77.068904,Mini bus,NaN,NaN,34,38
11,12,2015-02-19 15:07:52,12.988016,77.677191,13.100504,77.663151,Auto Rickshaw,NaN,NaN,65,36
12,13,2016-08-25 05:53:23,28.761943,77.065517,28.702896,77.034020,mini Bus,NaN,NaN,72,42
13,14,2016-10-24 22:50:09,25.344083,82.989770,25.267964,82.989553,Bus,NaN,NaN,21,40
14,15,2015-10-16 22:05:21,12.871554,77.635853,12.914875,77.506760,Metro,NaN,NaN,20,29
15,16,2016-09-11 16:35:27,13.022724,77.696603,13.001771,77.467610,Metro,NaN,NaN,13,34
16,17,2016-01-14 22:14:44,12.985632,77.579411,12.996826,77.650541,Taxi Non AC,14.0,17.0,47,33
17,18,2015-10-06 04:31:47,28.699348,76.995532,28.744668,77.198677,Ac Bus,NaN,NaN,8,27
18,19,2016-12-21 09:29:01,22.653248,88.414555,22.499224,88.382153,taxi Non Ac,25.0,12.0,0,31
19,20,2016-02-14 03:48:27,22.592788,88.396039,22.661685,88.386311,Mini bus,NaN,NaN,20,29
20,21,2016-06-01 08:59:56,19.111454,72.858865,19.144804,72.877784,metro,NaN,NaN,14,36
21,22,2016-04-17 16:20:59,28.637619,77.144376,28.576093,76.967460,Ac Bus,NaN,NaN,11,44
22,23,2015-05-16 19:32:27,25.307578,83.006488,25.340529,82.988709,Bus,NaN,NaN,78,45
23,24,2016-03-09 23:11:00,12.867422,77.670608,12.924173,77.689581,Taxi AC,21.0,17.0,12,17
24,25,2015-04-04 17:40:13,12.893786,77.537411,12.853191,77.657234,Auto Rickshaw,NaN,NaN,0,45
25,26,2015-11-24 00:01:08,28.655323,77.068894,28.594688,77.035933,Mini Bus,NaN,NaN,32,17
26,27,2016-02-17 18:24:59,22.563087,88.391685,22.704142,88.443153,AC Bus,NaN,NaN,41,33
27,28,2016-06-13 03:24:04,28.566135,77.126141,28.685634,77.045348,Taxi Non AC,26.0,1.0,31,44
28,29,2015-07-08 14:44:49,25.310830,82.991960,25.303292,83.018990,Taxi non ac,9.0,0.0,2,7
29,30,2016-07-07 03:36:08,12.879656,80.158020,13.121998,80.200009,Bus,NaN,NaN,11,35
...,...,...,...,...,...,...,...,...,...,...,...
19970,19971,2015-09-19 12:09:09,13.007189,77.472732,13.134956,77.584414,taxi non Ac,9.0,1.0,37,27
19971,19972,2016-01-27 10:10:55,28.584835,77.212458,28.624011,77.146662,ac bus,NaN,NaN,8,15
19972,19973,2015-10-22 12:49:20,28.595435,77.077819,28.609858,77.045569,AC bus,NaN,NaN,34,18
19973,19974,2015-05-07 09:17:52,13.111359,80.160920,12.946744,80.136109,Taxi AC,12.0,17.0,5,41
19974,19975,2015-09-16 13:41:49,28.559549,77.090688,28.575484,77.163425,AC bus,NaN,NaN,3,15
19975,19976,2015-01-10 16:50:22,13.125328,80.242994,13.154254,80.141011,Metro,NaN,NaN,15,41
19976,19977,2016-05-23 15:33:18,13.079978,80.200181,13.079201,80.195816,taxi ac,17.0,5.0,21,29
19977,19978,2016-09-20 00:28:58,13.160274,80.152440,12.979535,80.189596,Metro,NaN,NaN,36,46
19978,19979,2015-03-07 17:29:32,13.201417,80.224377,13.180899,80.238965,Auto Rickshaw,NaN,NaN,34,36
19979,19980,2016-06-11 06:26:37,22.494435,88.394374,22.486236,88.433076,metro,NaN,NaN,0,26
19980,19981,2015-11-27 19:33:10,12.979408,80.226274,13.008716,80.158650,bus,NaN,NaN,27,19
19981,19982,2015-02-13 13:55:14,13.087465,77.465661,12.982352,77.512995,bus,NaN,NaN,50,29
19982,19983,2015-07-05 21:15:41,13.039725,80.196954,13.024626,80.214053,ac bus,NaN,NaN,26,41
19983,19984,2015-08-21 08:58:00,19.128820,72.861783,19.119315,72.860704,AC Bus,NaN,NaN,8,9
19984,19985,2016-12-11 01:35:32,12.924877,77.631192,13.094097,77.691680,Taxi Non AC,1.0,5.0,63,42
19985,19986,2015-11-28 01:06:31,25.305230,82.985339,25.263227,83.003812,AC bus,NaN,NaN,13,10
19986,19987,2016-11-26 17:28:16,19.012751,72.870340,19.162901,72.845659,Metro,NaN,NaN,38,21
19987,19988,2016-06-21 10:47:25,19.039871,72.869655,19.213052,72.862267,mini bus,NaN,NaN,34,23
19988,19989,2015-01-16 02:25:11,12.992250,77.548395,12.935419,77.550325,taxi ac,10.0,10.0,34,20
19989,19990,2015-04-13 13:25:19,25.368270,83.001109,25.309704,82.986132,ac bus,NaN,NaN,2,24
19990,19991,2015-09-10 19:00:32,19.235039,72.838229,19.219641,72.839595,AC Bus,NaN,NaN,12,34
19991,19992,2016-08-01 10:35:50,13.198201,80.229803,13.197074,80.198976,Auto rickshaw,NaN,NaN,6,17
19992,19993,2016-06-26 20:46:39,22.555233,88.412076,22.645715,88.396480,AC Bus,NaN,NaN,53,47
19993,19994,2015-07-24 14:11:27,28.688823,77.083045,28.667545,76.983472,bus,NaN,NaN,41,21
19994,19995,2016-06-09 05:12:45,22.678417,88.397799,22.497538,88.411233,Auto rickshaw,NaN,NaN,27,22
19995,19996,2015-03-25 16:02:22,22.609127,88.440640,22.472033,88.411039,Taxi non Ac,27.0,7.0,1,36
19996,19997,2016-05-09 07:08:17,13.095404,80.143496,12.968605,80.237323,Mini bus,NaN,NaN,2,39
19997,19998,2016-01-27 20:05:32,13.026149,80.177354,12.949509,80.207882,ac bus,NaN,NaN,31,33
19998,19999,2015-09-17 00:23:13,19.131031,72.868534,19.210048,72.839244,Ac Bus,NaN,NaN,61,46
19999,20000,2015-10-22 14:48:53,13.015159,80.205843,12.881018,80.201701,Metro,NaN,NaN,18,22

In [19]:
fd.describe()

,ID,STARTING_LATITUDE,STARTING_LONGITUDE,DESTINATION_LATITUDE,DESTINATION_LONGITUDE,TOTAL_LUGGAGE_WEIGHT,WAIT_TIME,TRAFFIC_STUCK_TIME,DISTANCE
count,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,5739.000000,5739.000000,20000.000000,20000.000000
mean,10000.500000,20.142568,79.707653,20.143677,79.708485,15.441366,9.604112,29.586250,30.120950
std,5773.647028,5.892186,4.964558,5.891111,4.964418,8.692262,5.749211,21.387619,10.900195
min,1.000000,12.842865,72.835888,12.842900,72.835863,1.000000,0.000000,0.000000,2.000000
25%,5000.750000,13.088073,77.071268,13.090528,77.073560,8.000000,5.000000,12.000000,22.000000
50%,10000.500000,19.228262,77.690418,19.228719,77.691807,15.000000,10.000000,26.000000,31.000000
75%,15000.250000,25.316977,82.989698,25.316019,82.989267,23.000000,14.000000,44.000000,39.000000
max,20000.000000,28.770684,88.452146,28.770572,88.452174,30.000000,19.000000,93.000000,47.000000